@page
@model GsmsRazor.Pages.ReportModel
@{
    ViewData["Title"] = "Report";
}

<div class="text-center mb-3">
    <h2 class="text-info font-weight-bold">
        GSMS Report
    </h2>
</div>

<div class="form-group mb-3">
    <form asp-page="/Report" method="get">
        <h5>
            Report of month:
            <select class="custom-select-sm" name="reportMonth">
                @{
                    for (int i = 1; i <= 12; i++)
                    {
                        if (ViewBag.reportMonth != null && ViewBag.reportMonth == i)
                        {
                            <option selected value="@i">@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                }
            </select>
            year:
            <select class="custom-select-sm" name="reportYear">
                @{
                    if (ViewBag.periodFiveYearOfBusiness != null)
                    {
                        foreach (var year in ViewBag.periodFiveYearOfBusiness)
                        {
                            if (ViewBag.reportYear != null && ViewBag.reportYear == year)
                            {
                                <option selected value="@year">@year</option>
                            }
                            else
                            {
                                <option value="@year">@year</option>
                            }
                        }
                    }
                }
            </select>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search fa-xs"></i>
            </button>
        </h5>
    </form>
</div>

<div class="row" style="margin-bottom: 70px">
    <div class="col-4">
        <div class="text-center border border-info rounded p-3">
            <div>
                <h5 class="text-primary">
                    Revenue
                </h5>
            </div>
            <div>
                @{
                    if (ViewBag.totalRevenue != null)
                    {
                        <h5 class="text-primary">
                            @ViewBag.totalRevenue VND
                        </h5>
                    }
                    else
                    {
                        <h5 class="text-primary">
                            0 VND
                        </h5>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="text-center border border-info rounded p-3">
            <div>
                <h5 class="text-warning">
                    Expenditure
                </h5>
            </div>
            <div>
                @{
                    if (ViewBag.totalExpenditure != null)
                    {
                        <h5 class="text-warning">
                            @ViewBag.totalExpenditure VND
                        </h5>
                    }
                    else
                    {
                        <h5 class="text-warning">
                            0 VND
                        </h5>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="text-center border border-info rounded p-3">
            <div>
                <h5 class="text-success">
                    Profit
                </h5>
            </div>
            <div>
                @{
                    if (ViewBag.totalProfit != null)
                    {
                        <h5 class="text-success">
                            @ViewBag.totalProfit VND
                        </h5>
                    }
                    else
                    {
                        <h5 class="text-success">
                            0 VND
                        </h5>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="chart-container" width="500" height="400" style="margin-bottom: 70px">
    <h5 style="color:#36A2EB">Daily revenue of @ViewBag.reportMonth/@ViewBag.reportYear</h5>
    <canvas id="revenueChart"></canvas>
</div>

<div class="chart-container" width="500" height="400">
    <h5 style="color:#FF4069">Product Report</h5>
    <canvas id="productChart"></canvas>
</div>

<script>
    $(() => {
        var ctx = $("#revenueChart");
        var revenueChart = new Chart(ctx, @Html.Raw(Model.RevenueChartJson) );

        var abc = $("#productChart");
        var productChart = new Chart(abc, @Html.Raw(Model.ProductChartJson) );
    })
</script>