@page
@model GsmsRazor.Pages.SaleModel
@using GsmsRazor.SessionUtil;
@using BusinessObjectLibrary.ViewModel;

@{
    ViewData["Title"] = "Sales";
    List<CartItem> cart = HttpContext.Session.GetData<List<CartItem>>("CART");
}

<div class="container">
    <div class="row ">
        <div class="col-md-4 offset-md-4 modal fade in" id="customerModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registration</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="customerForm" method="post" class="col ml-3 mt-3" onsubmit="return register(event)">
                        <div class="form-group col col-md-10">
                            <label asp-for="Customer.PhoneNumber" class="control-label"></label>
                            <input id="txtPhone" asp-for="Customer.PhoneNumber" class="form-control" />
                            <span class="text-danger" id="phoneNumberValidation" asp-validation-for="Customer.PhoneNumber"></span>
                        </div>
                        <div class="form-group col col-md-10">
                            <label asp-for="Customer.Password" class="control-label"></label>
                            <input type="password" id="txtPassword" asp-for="Customer.Password" class="form-control" />
                            <span class="text-danger" id="passwordValidation" asp-validation-for="Customer.Password"></span>

                        </div>
                        <input id="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                        <div class="form-group col col-md-4">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customerModal">
        Register an account
    </button>
    <div class="text-danger">@TempData["RegError"]</div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col col-7">
            <h3>Product List</h3>
            <form asp-page="/Sale" method="get" class="m-2">
                <input name="searchString" class="form-control mb-2" placeholder="Search product..." value="@ViewBag.searchString" />
                <button class="btn btn-primary mb-2" type="submit">Search</button>
            </form>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr class="text-white">
                        <th>PRODUCT NAME</th>
                        <th>PRICE</th>
                        <th>STATUS</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.ProductList != null && Model.ProductList.Count() > 0)
                        {
                            foreach (var product in Model.ProductList)
                            {
                                <tr>
                                    <td>@product.Name</td>
                                    <td>@product.Price</td>
                                    @{
                                        if (product.Status == 1)
                                        {
                                            <td><span class="badge badge-success p-2" style="font-size:15px">Available</span></td>
                                            <td>
                                                <input type="hidden" value="@product.Id" class="ProductId" />
                                                <a class="btn btn-outline-warning AddToCart">
                                                    <i class="fa-solid fa-basket-shopping"></i>
                                                </a>
                                            </td>
                                        }
                                        else if (product.Status == 2)
                                        {
                                            <td><span class="badge badge-danger p-2" style="font-size:15px">Out of stock</span></td>
                                        }
                                        else if (product.Status == 3)
                                        {
                                            <td><span class="badge badge-warning p-2" style="font-size:15px">Almost out of stock</span></td>
                                            <td>
                                                <input type="hidden" value="@product.Id" class="ProductId" />
                                                <a class="btn btn-outline-warning AddToCart">
                                                    <i class="fa-solid fa-basket-shopping"></i>
                                                </a>
                                            </td>
                                        }
                                    }

                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            @{
                <ul class="pagination">
                    @for (var i = 1; i <= ViewBag.pageCount; i++)
                    {
                        <li class="page-item @(i == ViewBag.currentPage ? "active" : "")">
                            <a asp-page="/Sale"
                       asp-route-pageIndex="@i"
                       asp-route-searchString="@ViewBag.searchString" class="page-link">@i</a>
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="col col-5">
            <h3>
                Receipt details
            </h3>
            <div class="row justify-content-around">
                <div class="col-4">
                    <a class="btn btn-primary font-weight-bold text-white"
                       asp-page="/Sale"
                       asp-page-handler="InvoiceExport"
                       asp-route-type="InvoiceExport"
                       style="width:150px;height:50px">BILL</a>
                </div>
                <div class="col-4">
                    <a class="btn btn-warning font-weight-bold text-white"
                       asp-page="/Sale"
                       asp-page-handler="InvoiceExport"
                       asp-route-type="PayByPoints"
                       style="width:150px;height:50px">PAY BY POINT</a>
                </div>
            </div>


            <p class="mt-2" style="font-size:20px">
                Total:
                @if (ViewBag.totalPrice != null)
                {
                    <span class="text-primary" id="TotalPrice">@ViewBag.totalPrice</span>
                }
                else
                {
                    <span class="text-primary" id="TotalPrice">0</span>

                }
            </p>

            <div class="overflow-auto" style="height:45vh">
                @if (ViewBag.Error != null)
                {
                    <span class="badge badge-danger p-2" style="font-size:13px">@ViewBag.Error</span>
                }
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr class="text-white">
                            <th style="width:50%">PRODUCT NAME</th>
                            <th style="width:25%">QUANTITY</th>
                            <th style="width:25%">ACTION</th>
                        </tr>
                    </thead>
                    <tbody id="ReceiptBody">
                        @{
                            if (cart != null && cart.Count() > 0)
                            {
                                foreach (var item in cart)
                                {
                                    <tr>
                                        <td>@item.ProductName</td>
                                        <td>
                                            <input onchange="QuantityChange('@item.ProductId', this)"
                                           class="CartItemQuantity" style="width:50px" min="1" type="number" value="@item.Quantity" />
                                            <input type="hidden" value="@item.ProductId" class="CartItemProductId" />
                                        </td>
                                        <td>
                                            <a onclick="RemoveFromCart('@item.ProductId')" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@if (ViewBag.encodedBytes != null)
{
    <div class="modal fade" id="QRModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content align-items-center justify-content-center">
                <div class="modal-header">
                    <h3 class="modal-title text-success">Invoice printed successfully</h3>
                    <button id="btnClosePoints" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    @{
                        if (ViewBag.QRType != null && ViewBag.QRType.Equals("Accumulate"))
                        {
                            <h5 class="text-info align-items-center justify-content-center">Scan QR code to earn @ViewBag.Points points now!!!</h5>
                        }
                        else
                        {
                            <h5 class="text-info align-items-center justify-content-center">Scan QR code to use @(ViewBag.Points * -1) points to pay for this order!!!</h5>
                        }
                    }
                    <img src="@String.Format("data:image/png;base64,{0}", @ViewBag.encodedBytes)"
                     style="max-height:60vh;max-width:60vw;" />

                </div>
            </div>
        </div>
    </div>
}




@{
    if (ViewBag.encodedBytes != null)
    {
        <script>
            $('#QRModal').modal();
        </script>
    }
}

@section scripts{
<script src="~/js/sale.js"></script>
<script>
    function register(e){
        e.preventDefault();
        var form = $('#customerForm');
    var actionUrl = form.attr('action');
    var dataToSend = form.serialize();
    $.post(actionUrl, dataToSend).done(function (data) {
        var isValid = $(data).find("#IsValid").val();
        if(isValid.toString() === "True"){
            $("#customerModal").modal('toggle');
            $("#txtPhoneNumber").text("");
            $("#txtPassword").text("");
            toastr.options.showEasing = 'swing';
        toastr.success('Account registered!', "Success");
        }else{
        var newBody = $(data).find("#customerForm");
        $("#customerForm").replaceWith(newBody)
        }
    });
    }
</script>
}