@page
@model GsmsRazor.Pages.SaleModel
@using GsmsRazor.SessionUtil;
@using BusinessObjectLibrary.ViewModel;

@{
    ViewData["Title"] = "Sales";
    List<CartItem> cart = HttpContext.Session.GetData<List<CartItem>>("CART");
}

<div class="container">
    <div class="row ">
        <div class="col-md-4 offset-md-4 modal fade in" id="customerModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Đăng ký</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="customerForm" method="post" class="col ml-3 mt-3">
                        <div class="form-group col col-md-10">
                            <label asp-for="Customer.PhoneNumber" class="control-label"></label>
                            <input asp-for="Customer.PhoneNumber" class="form-control" />
                        </div>
                        <div class="form-group col col-md-10">
                            <label asp-for="Customer.Password" class="control-label"></label>
                            <input asp-for="Customer.Password" class="form-control" />
                        </div>
                        <div class="form-group col col-md-4">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customerModal">
        Đăng ký tài khoản
    </button>
    <div class="text-danger">@TempData["RegError"]</div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col col-7">
            <h3>Danh sách hàng hóa</h3>
            <form asp-page="/Sale" method="get" class="m-2">
                <input name="searchString" class="form-control mb-2" placeholder="Tìm kiếm sản phẩm" value="@ViewBag.searchString" />
                <button class="btn btn-primary mb-2" type="submit">Tìm kiếm</button>
            </form>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>TÊN HÀNG</th>
                        <th>GIÁ</th>
                        <th>TÌNH TRẠNG</th>
                        <th>TƯƠNG TÁC</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.ProductList != null && Model.ProductList.Count() > 0)
                        {
                            foreach (var product in Model.ProductList)
                            {
                                <tr>
                                    <td>@product.Name</td>
                                    <td>@product.Price</td>
                                    @{
                                        if (product.StoredQuantity > 0)
                                        {
                                            <td><span class="badge badge-success p-2" style="font-size:15px">Còn hàng</span></td>
                                            <td>
                                                <input type="hidden" value="@product.Id" class="ProductId" />
                                                <a class="btn btn-outline-warning AddToCart">
                                                    <i class="fa-solid fa-basket-shopping"></i>
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td><span class="badge badge-danger p-2" style="font-size:15px">Hết hàng</span></td>
                                        }
                                    }

                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            @{
                <ul class="pagination">
                    @for (var i = 1; i <= ViewBag.pageCount; i++)
                    {
                        <li class="page-item @(i == ViewBag.currentPage ? "active" : "")">
                            <a asp-page="/Sale"
                       asp-route-pageIndex="@i"
                       asp-route-searchString="@ViewBag.searchString" class="page-link">@i</a>
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="col col-5">
            <h3>Chi tiết đơn</h3>
            <div class="row justify-content-around">
                <div class="col-4">
                    <a class="btn btn-primary"
                       asp-page="/Sale"
                       asp-page-handler="InvoiceExport"
                       asp-route-type="InvoiceExport">XUẤT ĐƠN</a>
                </div>
                <div class="col-4">
                    <a class="btn btn-primary"
                       asp-page="/Sale"
                       asp-page-handler="InvoiceExport"
                       asp-route-type="PayByPoints">PAY BY POINTS</a>
                </div>
            </div>
            

            <p class="mt-2" style="font-size:20px">
                Tổng tiền:
                @if (ViewBag.totalPrice != null)
                {
                    <span class="text-primary" id="TotalPrice">@ViewBag.totalPrice</span>
                }
                else
                {
                    <span class="text-primary" id="TotalPrice">0</span>

                }
            </p>

            <div class="overflow-auto" style="height:50vh">
                @if (ViewBag.Error != null)
                {
                    <span class="badge badge-danger p-2" style="font-size:13px">@ViewBag.Error</span>
                }
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:50%">TÊN HÀNG</th>
                            <th style="width:25%">SỐ LƯỢNG</th>
                            <th style="width:25%">TƯƠNG TÁC</th>
                        </tr>
                    </thead>
                    <tbody id="ReceiptBody">
                        @{
                            if (cart != null && cart.Count() > 0)
                            {
                                foreach (var item in cart)
                                {
                                    <tr>
                                        <td>@item.ProductName</td>
                                        <td>
                                            <input onchange="QuantityChange('@item.ProductId', this)"
                                           class="CartItemQuantity" style="width:50px" min="1" type="number" value="@item.Quantity" />
                                            <input type="hidden" value="@item.ProductId" class="CartItemProductId" />
                                        </td>
                                        <td>
                                            <a onclick="RemoveFromCart('@item.ProductId')" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@if (ViewBag.encodedBytes != null)
{
    <div class="modal fade" id="QRModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content align-items-center justify-content-center">
                <div class="modal-header">
                    <h3 class="modal-title text-success">Xuất đơn thành công</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <h5 class="text-info align-items-center justify-content-center">Quét mã QR để tích điểm ngay!!!</h5>
                    <img src="@String.Format("data:image/png;base64,{0}", @ViewBag.encodedBytes)"
                     style="max-height:60vh;max-width:60vw;" />

                </div>
            </div>
        </div>
    </div>
}




@{
    if (ViewBag.encodedBytes != null)
    {
        <script>
            $('#QRModal').modal();
        </script>
    }
}

@section scripts{
<script src="~/js/sale.js"></script>
}